<?xml version="1.0"?>
<config>
	<modules>
		<EmailDirect_Integration>
			 <version>2.0.9</version>
		</EmailDirect_Integration>
	</modules>
	<global>
		<events>
			<wishlist_product_add_after>
				<observers>
					<emaildirect_wishlist_product_add_after_observer>
						<class>emaildirect/observer</class>
						<method>onWishlistProductAddAfter</method>
					</emaildirect_wishlist_product_add_after_observer>
				</observers>
			</wishlist_product_add_after>
			<newsletter_subscriber_save_before>
				<observers>
					<emaildirect_subscribe_observer>
						<class>emaildirect/newsletter_observer</class>
						<method>handleSubscriber</method>
					</emaildirect_subscribe_observer>
				</observers>
			</newsletter_subscriber_save_before>
			<newsletter_subscriber_delete_after>
				<observers>
					<emaildirect_subscribe_delete_observer>
						<class>emaildirect/newsletter_observer</class>
						<method>handleSubscriberDeletion</method>
					</emaildirect_subscribe_delete_observer>
				</observers>
			</newsletter_subscriber_delete_after>
	   </events>
		<models>
			<emaildirect>
				<class>EmailDirect_Integration_Model</class>
				<resourceModel>emaildirect_mysql4</resourceModel>
			</emaildirect>
			<emaildirect_mysql4>
				<class>EmailDirect_Integration_Model_Mysql4</class>
				<entities>
					<abandoned>
						<table>emaildirect_abandoned_cart</table>
					</abandoned>
					<order>
						<table>emaildirect_order</table>
					</order>
					<session>
						<table>emaildirect_session</table>
					</session>
				</entities>
			</emaildirect_mysql4>
		</models>
		<resources>
			<emaildirect_setup>
				<setup>
					<module>EmailDirect_Integration</module>
					<class>EmailDirect_Integration_Model_Resource_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</emaildirect_setup>
			<emaildirect_write>
				<connection>
					<use>core_write</use>
				</connection>
			</emaildirect_write>
			<emaildirect_read>
				<connection>
					<use>core_read</use>
				</connection>
			</emaildirect_read>
		</resources>
		<blocks>
			<emaildirect>
				<class>EmailDirect_Integration_Block</class>
			</emaildirect>
		</blocks>
		<helpers>
			<emaildirect>
				<class>EmailDirect_Integration_Helper</class>
			</emaildirect>
		</helpers>
	</global>
	<frontend>
		<translate>
			<modules>
				<EmailDirect_Integration>
					<files>
						<default>EmailDirect_Integration.csv</default>
					</files>
				</EmailDirect_Integration>
			</modules>
		</translate>
		<routers>
			<emaildirect>
				<use>standard</use>
				<args>
					<module>EmailDirect_Integration</module>
					<frontName>emaildirect</frontName>
				</args>
			</emaildirect>
		</routers>
		<layout>
			<updates>
				<emaildirect>
					<file>emaildirect.xml</file>
				</emaildirect>
			</updates>
		</layout>
		<events>
			<controller_action_postdispatch_checkout_onepage_saveOrder>
		   	<observers>
				   <emaildirect_subscribe_checkout>
					   <class>emaildirect/newsletter_observer</class>
					   <method>registerCheckoutSubscribe</method>
				   </emaildirect_subscribe_checkout>
			 	</observers>
			</controller_action_postdispatch_checkout_onepage_saveOrder>
			<checkout_onepage_controller_success_action>
			   <observers>
				   <emaildirect_subscribe_checkoutsuccess>
					   <class>emaildirect/newsletter_observer</class>
					   <method>registerCheckoutSuccess</method>
				   </emaildirect_subscribe_checkoutsuccess>
			 	</observers>
			</checkout_onepage_controller_success_action>
			<sales_quote_save_after>
				<observers>
					<emaildirect_quote_save_after>
						<class>emaildirect/abandoned_observer</class>
						<method>quoteSaveAfter</method>
					</emaildirect_quote_save_after>
				</observers>
			</sales_quote_save_after>
			<customer_save_after>
				<observers>
					<emaildirect_update_customer>
						<class>emaildirect/customer_observer</class>
						<method>updateCustomer</method>
					</emaildirect_update_customer>
				</observers>
			</customer_save_after>
			<customer_login>
				<observers>
					<emaildirect_customer_login>
						<class>emaildirect/customer_observer</class>
						<method>customerLogin</method>
					</emaildirect_customer_login>
				</observers>
			</customer_login>
			<sales_order_save_after>
				<observers>
					<emaildirect_order_save_after>
						<class>emaildirect/order_observer</class>
						<method>orderSaveAfter</method>
					</emaildirect_order_save_after>
				</observers>
			</sales_order_save_after>
	  	</events>
	</frontend>
	<admin>
		<routers>
			<ed_integration>
				<use>admin</use>
				<args>
					<module>EmailDirect_Integration</module>
					<frontName>ed_integration</frontName>
				</args>
			</ed_integration>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<emaildirect>
					<file>emaildirect.xml</file>
				</emaildirect>
			</updates>
		</layout>
		<translate>
			<modules>
				<EmailDirect_Integration>
					<files>
						<default>EmailDirect_Integration.csv</default>
					</files>
				</EmailDirect_Integration>
			</modules>
		</translate>
		<events>
	 		<core_block_abstract_to_html_before>
		 		<observers>
			 		<emaildirect_newsletter_massaction>
				 		<class>emaildirect/newsletter_observer</class>
				 		<method>updateNewsletterMassAction</method>
			 		</emaildirect_newsletter_massaction>
		 		</observers>
	 		</core_block_abstract_to_html_before>
			<sales_order_shipment_track_save_after>
				<observers>
					<emaildirect_track_save_after>
						<type>model</type>
						<class>emaildirect/order_observer</class>
						<method>salesOrderShipmentTrackSaveAfter</method>
					</emaildirect_track_save_after>
				</observers>
			</sales_order_shipment_track_save_after>
			<admin_system_config_changed_section_emaildirect>
				<observers>
					<emaildirect_save_config>
						<class>emaildirect/configuration_observer</class>
						<method>saveConfig</method>
					</emaildirect_save_config>
				</observers>
			</admin_system_config_changed_section_emaildirect>
			<customer_save_after>
				<observers>
					<emaildirect_update_customer_admin>
						<class>emaildirect/customer_observer</class>
						<method>updateCustomerAdmin</method>
					</emaildirect_update_customer_admin>
				</observers>
			</customer_save_after>
			<sales_order_save_after>
				<observers>
					<emaildirect_order_save_after_admin>
						<class>emaildirect/order_observer</class>
						<method>orderSaveAfterAdmin</method>
					</emaildirect_order_save_after_admin>
				</observers>
			</sales_order_save_after>
		</events>
	</adminhtml>
	<default>
		<emaildirect>
			<general>
				<urls>
					<accesspoint>https://rest.emaildirect.com/v1/</accesspoint>
					<lists>Lists</lists>
					<subscribers>Subscribers</subscribers>
					<sources>Sources</sources>
					<publications>Publications</publications>
					<products>Products</products>
					<categories>ProductCategories</categories>
					<orders>Orders</orders>
					<database>Database</database>
					<abandoned>Import/AddOrUpdate</abandoned>
					<ftp>FTP</ftp>
				</urls>
				<active>0</active>
				<sourceid>0</sourceid>
				<source>Magento</source>
				<override_source>1</override_source>
				<address_fields><![CDATA[a:5:{s:2:"a1";a:2:{s:7:"magento";s:6:"street";s:11:"emaildirect";s:7:"Address";}s:2:"a2";a:2:{s:7:"magento";s:4:"city";s:11:"emaildirect";s:4:"City";}s:2:"a3";a:2:{s:7:"magento";s:10:"state_code";s:11:"emaildirect";s:5:"State";}s:2:"a4";a:2:{s:7:"magento";s:8:"postcode";s:11:"emaildirect";s:3:"Zip";}s:2:"a5";a:2:{s:7:"magento";s:9:"telephone";s:11:"emaildirect";s:5:"Phone";}}]]></address_fields>
				<map_fields><![CDATA[a:2:{i:0;a:2:{s:7:"magento";s:9:"firstname";s:11:"emaildirect";s:9:"FirstName";}i:1;a:2:{s:7:"magento";s:8:"lastname";s:11:"emaildirect";s:8:"LastName";}}]]></map_fields>				
				<abandonedtime>30</abandonedtime>
				<sendabandoned>0</sendabandoned>
				<abandonedsetup>0</abandonedsetup>
				<setup>0</setup>
				<debug>0</debug>
				<save_latest_order>0</save_latest_order>
				<product_fields>3</product_fields>
				<related_fields>2</related_fields>
				<send_states>complete</send_states>
				<send_statuses>complete</send_statuses>
				<abandonedsequence_options><![CDATA[A
B
C]]></abandonedsequence_options>
				<signup_enabled>0</signup_enabled>
				<signup_activated>0</signup_activated>
				<signup_delay>3</signup_delay>
				<signup_opacity>30</signup_opacity>
				<signup_recurrence>1 month</signup_recurrence>
				<signup_width>760</signup_width>
				<signup_height>400</signup_height>
				<batch_size>200</batch_size>
				<batch_date_adjust>-1 week</batch_date_adjust>
				<wishlist_enabled>0</wishlist_enabled>
			</general>
			<export>
				<include_disabled>1</include_disabled>
				<include_already_sent>0</include_already_sent>
				<batch>100</batch>
				<setup>0</setup>
			</export>
			<troubleshooting>
				<logging_enabled>0</logging_enabled>
				<logging_duration>10</logging_duration>
				<logging_stores>all</logging_stores>
				<logging_areas>all</logging_areas>
				<diagnostic_enabled>0</diagnostic_enabled>
				
				<enabled>0</enabled>
				<email>Kevinl@EmailDirect.com</email>
				<subject>EmailDirect Magento Module Troubleshooting Report</subject>
				<report_file>troubleshootingreport.html</report_file>
				<max_file_size>1048576</max_file_size>
				<duration>10</duration>
			</troubleshooting>
		</emaildirect>
	</default>
	<crontab>
		<jobs>
			<emaildirect_integration>
				<schedule>
					<cron_expr>0 */1 * * *</cron_expr>
					<!--<cron_expr>*/5 * * * *</cron_expr>--><!-- every 5 minutes for testing -->
				</schedule>
				<run>
					<model>emaildirect/abandoned_observer::abandonedCartsProcessor</model>
				</run>
			</emaildirect_integration>
			<emaildirect_integration_batch_orders>
				<schedule>
					<cron_expr>30 * * * *</cron_expr>
					<!--<cron_expr>*/5 * * * *</cron_expr>--><!-- every 5 minutes for testing -->
				</schedule>
				<run>
					<model>emaildirect/order_observer::processBatchOrders</model>
				</run>
			</emaildirect_integration_batch_orders>
		</jobs>
	</crontab>
</config>